/* CSS for achievements.php */
.frame {
	margin-bottom: 10px;
	margin-top: 10px;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
.left {
	margin-bottom: 10px;
	margin-top: 0px;
	width: 150px;
	float: left;
	display: block;
	padding: 10px;
	margin-right: 10px;
}
.right {
	margin-bottom: 10px;
	margin-top: 0px;
	width: 550px;
	float: left;
	display: block;
	padding: 10px;
}
#fun-facts .fact {
	font-size: 16px;
	margin-top: 0px;
	margin-bottom: 5px;
	text-align: center;
	display: block;
}
#fun-facts .factValue {
	font-size: 34px;
	font-weight: bold;
	text-align: center;
	display: block;
}
#fun-facts .factbox {
	border: 3px solid #FC0;
	padding: 5px;
	margin-bottom: 10px;
}
#fun-facts .unit {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	color: #666;
	margin-top: 1px;
	margin-bottom: 1px;
	text-align: center;
	display: block;
}
#fun-facts .factDesc {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	color: #666;
	margin-top: 1px;
	margin-bottom: 1px;
	text-align: center;
	display: block;
}
.frame h2 {
	font-size: 18px;
	color: #900;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}
#achievements-preamble h2 {
	font-size: 30px;
	margin-bottom: 0px;
}
#achievements-preamble p {
	margin-top: 5px;
	margin-bottom: 5px;
}
.achievement-box {
	padding: 0px 10px 10px;
	width: 500px;
	margin: 10px;
	border-bottom: thin #999 dotted;
	text-align: center;
	clear: both;
}
.achievement-time {
	width: 500px;
	margin: 0px;
	padding-bottom: 5px;
	text-align: right;
	font-size: 12px;
	color: #666;
}
.achievement-image {
	width: 130px;
	float: left;
}
.achievement-details {
	float: left;
	width: 370px;
	padding-top: 10px;
}
.achievement-name {
	text-align: center;
	display: block;
	font-weight: bold;
}
.achievement-description {
	text-align: left;
	display: block;
	margin-top: 5px;
}
#none-box {
	width: 100%;
	display: block;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}