@charset "utf-8";
#create-quiz {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
/* CSS Document */
#create-quiz fieldset {
	width: 700px;
	margin-right: auto;
	margin-left: auto;
	-webkit-border-radius: 10px;
	-webkit-box-shadow: 1px 1px 2px #3b3b3b;
	-moz-border-radius: 10px;
	-moz-box-shadow: 1px 1px 2px #3b3b3b;
	-o-border-radius: 10px;
	-o-box-shadow: 1px 1px 2px #3b3b3b;	
	background-image: url(../img/form_bg.gif);
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin-top: 10px;
	margin-bottom: 20px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 20px;
	padding-left: 5px;
}

#create-quiz h4 {
	font-family: "Myriad Pro", Arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #333;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 8px;
	margin-left: 10px;
}
#create-quiz label {
	color: #C00;
	font-family: "Myriad Pro", Arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
	text-align: right;
	display: block;
}
#create-quiz p       {
	font-size: 14px;
	margin-right: 15px;
	margin-left: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #333;
}
p.center{
	text-align: center;
}

#create-quiz input, #create-quiz textarea, #create-quiz select {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#create-quiz input[type='text'], #create-quiz textarea {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding: 5px;
	border: 1px solid #CCC;
}
#create-quiz select {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding: 4px;
	border: 1px solid #CCC;
}
#create-quiz input[type='text'], #create-quiz textarea {
	width: 100%;	
}
#create-quiz input[type='text']:focus, #create-quiz textarea:focus, #create-quiz select:focus {
	border: 1px solid #F90;
}
/*
#create-quiz input[type='button'], #create-quiz input[type='submit'] {
	font-family: "Myriad Pro", Arial, sans-serif;
	font-size: 16px;
	color: #000;
	background-color: #6F9;
	border: 1px solid #999;
	padding-top: 5px;
	padding-right: 12px;
	padding-bottom: 5px;
	padding-left: 12px;
	font-weight: bold;
}
#create-quiz input[type='button']:hover, #create-quiz input[type='submit']:hover {
	background-color: #FC0;
}*/
#create-quiz input[type='button'].click {
	background-color: #FC0;
	border-top-color: #C00;
	border-right-color: #C00;
	border-bottom-color: #C00;
	border-left-color: #C00;
}
#create-quiz input[type='button'].over {
	background-color: #FC0;
}
#create-quiz input[type='button'].disable {
	background-color: #CCC;
	color: #FFF;
}
#create-quiz .questionField {
	width: 98% !important;
}
#create-quiz .optionField {
	width: 95% !important;
}
#create-quiz .optionSelect {
	width: 98% !important;;
}
#createQuiz .desc {
	font-size: 12px;
	color: #333;
	font-style: italic;
	padding-top: 2px;
	display: block;
	padding-bottom: 8px;
}
#createQuiz .formDesc {
	font-size: 12px;
	color: #333;
	font-style: italic;
	padding-top: 2px;
	padding-left: 5px;
}
#createQuiz a {
	outline: none;
}
#create-quiz .orangeBtn, #created-preamble .orangeBtn{
	background-color: #FC3;
}
#created-preamble span.center, #takequiz-preamble span.center{
	display: block;
	text-align: center;
}
#created-preamble p.center{
	text-align: center;
}
.selectImage{
	border: 1px solid #CCC;
}
.selectImage:hover{
	border: 1px solid #F90;
}
#createQuiz .selected-image img {
	border: 1px solid #CCC;
}
.add_container {
	display: block;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	text-align: center;
}
#progress-container ul {
	margin: 0px;
	padding: 0px;
	height: 40px;
	background-color: #CCC;
	color: #FFF;
}
#progress-container ul li {
	float: left;
	list-style-type: none;
	padding-top: 10px;
	padding-right: 40px;
	padding-bottom: 10px;
	padding-left: 20px;
}
#progress-container .start{
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
}
#progress-container .current {
	background-color: #FC0;
	color: #000;
	background-image: url(../img/arrow_step.png);
	background-repeat: no-repeat;
	background-position: right;
}
#progress-container .final {
	background-color: #FC0;
	color: #000;
}
#progress-container .completed_last {
	background-color: #9C0;
	color: #000;
	background-image: url(../img/arrow_complete.png);
	background-repeat: no-repeat;
	background-position: right;
}
#progress-container .complete_full {
	background-color: #9C0;
	color: #000;
}
#progress-container ul li strong {
	margin-right: 6px;
}
.containerTip {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	display: none;
}
.paging-table {
	color: #CCC;
}
.paging-table a:link, .paging-table a:visited {
	color: #333;
	text-decoration: none;
}
.paging-table a:hover {
	text-decoration: underline;
}
#checkQuizTable {
	font-size: 12px;
	font-family: Verdana, Geneva, sans-serif;
}
#checkQuizTable td {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCC;
}
#checkQuizTable th {
	color: #333;
	background-image: url(../img/form_bg.gif);
}
#checkQuizTable img {
	border: 1px solid #333;
}
#checkQuizTable a img {
	border: none;
}
#checkQuizTable .status, #checkQuizTable .properties {
	font-size: 10px;
	margin: 0px;
}
#checkQuizTable .draft {
	color: #F00;	
}
#checkQuizTable .published {
	color: #990;
}
#checkQuizTable .modified {
	color: #F60;
}
#checkQuizTable .name {
	margin-bottom: 3px;
	margin-top: 0px;
}
#checkQuizTable .details {
	margin-bottom: 3px;
	margin-top: 3px;
	font-size: 10px;
}
#checkQuizTable .details img {
	border: none;
}
#checkQuizTable .details a:link, #checkQuizTable .details a:visited {
	text-decoration: none;
	color: #333;
}
#checkQuizTable .details a:hover {
	text-decoration: underline;
	color: #333;
}
