@charset "utf-8";
#dashboard-container {
	margin-top: 10px;
	margin-bottom: 10px;
}
.frame {
	margin-bottom: 10px;
	margin-top: 10px;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
.left-right {
	margin-bottom: 10px;
	margin-top: 10px;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	width: 351px;
	float: left;
	display: block;
}

#recommendations {
	margin-right: 10px;		
}
#dashboard-container h2 {
	font-size: 18px;
	color: #900;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}
.thumb_box {
	background-image: url(../images/popular_tile.png);
	background-repeat: no-repeat;
	height: 61px;
	width: 81px;
	position: relative;
	float: left;
	margin-right: 10px;
	margin-top: 4px;
}
.quiz_rating  {
	position: absolute;
	height: 10px;
	width: 80px;
	left: 0px;
	bottom: 1px;
	background-image: url(../images/trans_grey.png);
	color: #FC0;
	font-size: 10px;
	font-weight: bold;
	font-family: Wingdings;
	padding-bottom: 3px;
	padding-left: 3px;
}
.quiz_details   {
	width: 250px;
	float: left;
}
.quiz_details h3 {
	font-size: 14px;
	margin-top: 0px;
	margin-bottom: 3px;
}
.quiz_box a img  {
	border: 1px solid #000;
}
.quiz_details .description {
	font-size: 11px;
	font-weight: normal;
	margin: 0px;
	font-family: Verdana, Geneva, sans-serif;
}
.quiz_details .source {
	font-size: 10px;
	margin-top: 8px;
	margin-bottom: 0px;
	font-family: Verdana, Geneva, sans-serif;
	color: #999;
}
.quiz_box {
	margin-top: 5px;
	margin-bottom: 5px;
	min-height: 85px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #999;
	padding-top: 0px;
	padding-bottom: 5px;
}
.quiz_box:last-child {
	border-bottom-style: none;
}
#recent {
	position: relative;
}
#recent .recent-feed {
	font-size: 14px;
	margin-bottom: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCC;
	display: block;
}
#recent .recent-feed .topic   {
	font-weight: bold;
	margin-right: 10px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 5px;
}
#recent .friend {
	background-color: #09F;
}
#recent .achievement {
	background-color: #F90;
}
#recent .quiz {
	background-color: #6C3;
}
#recent #recent-extended {
	display: none;
}
#recent #recent-toggle {
	color: #000;
	background-color: #FFF;
	padding: 5px;
	display: block;
	width: 80px;
	text-align: center;
	text-decoration: none;
	position: absolute;
	bottom: -10px;
	right: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border:solid 2px #E0E0E0;
	font-size: 12px;
	font-weight: bold;
	background-image: url(../img/statusbar_background_gradient.png);
	background-repeat: repeat-x;
	background-position: bottom;
	outline: none;
}
#recent #recent-toggle:hover {
	background-color: #CCC;
	background-image: none;
}

