@charset "utf-8";
html, body {
	font-family: "Myriad Pro", Arial, sans-serif;
	margin: 0px;
	padding: 0px;
	width: 760px;
	position: relative;
}
.rounded {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.clear:after {
	content: "&nbsp;";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.frame {
	border:solid 2px #E0E0E0;
	background-image: url(../img/statusbar_background_gradient.png);
	background-repeat: repeat-x;
	background-position: bottom;
	margin-top: 10px;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
.frame h3 {
	font-size: 18px;
	color: #900;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}

/* Input Elements */
input[type='submit'], input[type='button'] {
    background-color: #66FF99;
    border: 1px solid #999999;
    color: #000000;
    font-family: "Myriad Pro",Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 12px;
	outline: none;
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
input[type='submit']:hover, input[type='button']:hover {
    background-color: #FFCC00;
}
input[type='submit'].btnDisabled, input[type='button'].btnDisabled, input[type='submit'].btnDisabled:hover, input[type='button'].btnDisabled:hover {
	background-color: #F66; !important;
}
#loader-box {
	width: 100%;
	display: block;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}
