@charset "utf-8";
.frame {
	margin-bottom: 10px;
	margin-top: 10px;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
.left {
	margin-bottom: 10px;
	margin-top: 0px;
	width: 150px;
	float: left;
	display: block;
	padding: 10px;
	margin-right: 10px;
}
.right {
	margin-bottom: 10px;
	margin-top: 0px;
	width: 550px;
	float: left;
	display: block;
	padding: 10px;
}
#fun-facts .fact {
	font-size: 16px;
	margin-top: 0px;
	margin-bottom: 5px;
	text-align: center;
	display: block;
}
#fun-facts .factValue {
	font-size: 34px;
	font-weight: bold;
	text-align: center;
	display: block;
}
#fun-facts .factbox {
	border: 3px solid #FC0;
	padding: 5px;
	margin-bottom: 10px;
}
#fun-facts .unit {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	color: #666;
	margin-top: 1px;
	margin-bottom: 1px;
	text-align: center;
	display: block;
}
#fun-facts .factDesc {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	color: #666;
	margin-top: 1px;
	margin-bottom: 1px;
	text-align: center;
	display: block;
}
#rankTable th{
	background-image: url(../img/form_bg.gif);
}
#rankTable td {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCC;
	padding-top: 15px;
	padding-bottom: 15px;
}
#rankTable .ranking {
	font-weight: bold;
	color: #F90;
}
#rankTable img {
	border: 1px solid #666;
}
#rankTable .member-name {
	margin: 0px;
}
#rankTable .member-level {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	margin-top: 3px;
	margin-bottom: 0px;
	font-style: italic;
	color: #666;
}
#rankTable .score {
	font-size: 20px;
	color: #F90;
	margin: 0px;
	font-weight: bold;
	cursor: help;
}
#rankTable .breakdown-score {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	margin-top: 3px;
	margin-bottom: 0px;
	color: #666;
	font-style: italic;
}
.frame h2 {
	font-size: 18px;
	color: #900;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}
#leaderboard-preamble h2 {
	font-size: 30px;
	margin-bottom: 0px;
}
#leaderboard-preamble p {
	margin-top: 5px;
	margin-bottom: 5px;
}
