@charset "utf-8";
html, body {
	font-family: "Myriad Pro", Arial, sans-serif;
	padding: 0px;
	position: relative;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.rounded {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
.clear:after {
    content: "&nbsp;";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.frame {
	border:solid 2px #E0E0E0;
	background-image: url(../img/statusbar_background_gradient.png);
	background-repeat: repeat-x;
	background-position: bottom;
	
	margin-bottom: 10px;
	margin-top: 10px;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	
	width: 760px;
	margin-right: auto;
	margin-left: auto;
	
	text-align: center;
}
.frame h3 {
	font-size: 18px;
	color: #900;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}

/* Input Elements */
input[type='submit'], input[type='button'] {
    background-color: #66FF99;
    border: 1px solid #999999;
    color: #000000;
    font-family: "Myriad Pro",Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 12px;
	outline: none;
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
input[type='submit']:hover, input[type='button']:hover {
    background-color: #FFCC00;
}
input[type='submit'].btnDisabled, input[type='button'].btnDisabled, input[type='submit'].btnDisabled:hover, input[type='button'].btnDisabled:hover {
	background-color: #F66; !important;
}
#takequiz-preview h2 {
	color: #900;
}
#takequiz-preview .logo {
	display: block;
	margin: 10px;
}
#takequiz-preview .logo img {
	border: none;
}
#takequiz-preamble .bullets {
	text-align: left;
	width: 500px;
	margin-right: auto;
	margin-left: auto;
}
#takequiz-preview .description {
	font-size: 14px;
	text-align: justify;
}
#takequiz-preview .info {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	color: #666;
}
#takequiz-preview .previewImage {
	border: 1px solid #000;
	-moz-box-shadow: 1px 1px 2px #999;
}
