@charset "utf-8";
#recent {
	position: relative;
}
#recent .recent-feed {
	font-size: 12px;
	font-family: Verdana,Geneva,sans-serif;
	margin-bottom: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-top: 3px;
	width: 100%;
	height: 30px;
}
#recent .recent-feed .topic   {
	font-weight: bold;
	margin-right: 10px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 5px;
	float: left;
}
#recent .recent-feed a:link, #recent .recent-feed a:visited{
	text-decoration: none;
	font-weight: bold;
	color: #333;
}
#recent .recent-feed a:hover{
	text-decoration: underline;
}
#recent .recent-feed .recent-bottom {
	width: 100%;
	height: 28px;
	padding-top: 1px;
	padding-bottom: 3px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCC;
}
#recent .friend {
	background-color: #09F;
}
#recent .achievement {
	background-color: #F90;
}
#recent .quiz {
	background-color: #6C3;
}
#recent .event {
	float: left;
	margin-top: 3px;
	overflow: hidden;
	position: relative;
}
#recent .friend-event {
	width: 670px;
}
#recent .achievement-event {
	width: 620px;
}
#recent .quiz-event {
	width: 677px;
}
#recent .text-flow {
	width: 1000px;
}
#recent .text-fade {
	background-image: url(../img/text-fade.png);
	background-repeat: repeat-y;
	background-position: right;
	height: 25px;
	width: 20px;
	position: absolute;
	right: 0px;
	top: 0px;
}
#recent .recent-feed .recent-bottom .timestamp {
	position: absolute;
	right: 10px;
	margin-top: 17px;
	margin-right: 10px;
	font-size: 10px;
}
#recent #recent-extended {
	display: none;
}
#recent #recent-toggle {
	color: #000;
	background-color: #FFF;
	padding: 5px;
	display: block;
	width: 80px;
	text-align: center;
	text-decoration: none;
	position: absolute;
	bottom: -10px;
	right: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border:solid 2px #E0E0E0;
	font-size: 12px;
	font-weight: bold;
	background-image: url(../img/statusbar_background_gradient.png);
	background-repeat: repeat-x;
	background-position: bottom;
	outline: none;
}
#recent #recent-toggle:hover {
	background-color: #CCC;
	background-image: none;
}
