@charset "utf-8";
#search input {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#search input[type='text'] {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding: 5px;
	border: 1px solid #CCC;
	width: 100%;
}
#search label {
	font-size: 11px;
	font-family: Verdana, Geneva, sans-serif;
}
#results .quiz_box {
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCC;
	margin-bottom: 5px;
	min-height: 130px;
}
#results .quiz_box a:link, #results .quiz_box a:visited {
	text-decoration: none;
	color: #000;
}
#results .quiz_box h3 {
	margin-top: 3px;
	margin-bottom: 3px;
	font-size: 18px;
}
#results .description {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	margin-top: 3px;
	margin-bottom: 8px;
}
#results .thumb_box {
	width: 100px;
	height: 100px;
	display: block;
	float: left;
	padding-top: 5px;
}
#results .quiz_details {
	float: left;
	width: 620px;
}
#results .source, #results .rating {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	color: #999;
	margin-bottom: 2px;
	margin-top: 2px;
}
#results .source a:link, #result .source a:visited {
	color: #333;	
}
#results .source a:hover {
	text-decoration: underline;	
}
#results .like {
	font-weight: bold;
	color: #090;
}
#results .thumb_box img {
	border: 1px solid #333;
}
#results .quiz_box:last-child {
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-style: none;
	margin-bottom: 10px;
}
#search-preamble label {
	cursor: help;
}
