.share-button {
	margin: 0px 3px;
	padding: 4px 5px;
	cursor: pointer;
	background-color: #ECEEF5;
	border:solid 1px #CAD4E7;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	font-family: lucida grande,tahoma,verdana,arial,sans-serif;
	font-size: 11px;
	color: #3B5998;
	float: left;
}

#user-action-container {
	margin: auto;
}

.share-like {
	margin: 0px 3px;
	float: left;
}