#statusbar-container{
}

#statusbar{
	height:50px;
	background-image: url(../img/statusbar_background_gradient.png);
	background-repeat: repeat-x;
	vertical-align:middle;
	border:solid 2px #E0E0E0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	text-align:center;
	vertical-align:middle;
}

#statusbar-divider{
	float:left;
	width:10px;
	height:50px;
	background-image: url(../img/divider.png);
}

#statusbar-logo{
	float:left;
	width:100px;
	height:50px;
	margin:0px 15px;
	background-image: url(../img/quizroo-logo.png);
}

#statusbar-notification{
	width:50px;
	height:50px;
	float:left;
}

.statusbar-unit-line{
	width: 500px;
	margin-bottom: 5px;
}

.statusbar-unit-line:last-child{
	margin-bottom: 0px;
}

.statusbar-system-notification{
	width: auto;
	padding: 5px 10px;
	float: left;
}

.statusbar-label{
	float: left;
	padding: 5px;
	color: #FFF;
}

#notification-system{
	float:right;
	margin:0px 2px 0px 0px;
	width:50px;
	height:50px;
	background-image: url(../img/notification-system.png);
	cursor:pointer;
}

.notification-count{
	float:right;
	width:25px;
	height:25px;
	margin:0px 0px;
	padding-top: 4px;
	font-size:12px;
	font-weight:bold;
	color:#ff6c00;
	background-image: url(../img/notification-count.png);
	background-repeat: no-repeat;
}

#statusbar-achievements{
	width:230px;
	height:50px;
	padding:0px;
	float:left;
}

#statusbar-achievements-logo{
	float:right;
	margin:0px 0px 0px 5px;
	width:85px;
	height:50px;
	background-image: url(../img/achievements.png);
	cursor:pointer;
	background-repeat: no-repeat;
}

#statusbar-achievements-count{
	float:right;
	margin:0px 0px 5px 0px;
	padding:14px 0px;
	width:40px;
	height:22px;
	font-size:18px;
	font-weight:bold;
	color:#666;
}

.statusbar-achievements-quizcount-top{
	float:right;
	padding:7px 0px 3px 0px;
	width:25px;
	height:15px;
	font-size:14px;
	font-weight:bold;
	color:#666;
}

.statusbar-achievements-quizcount-bottom{
	float:right;
	padding:3px 0px 7px 0px;
	width:25px;
	height:15px;
	font-size:14px;
	font-weight:bold;
	color:#666;
}

#statusbar-quizcreator{
	float:right;
	width:70px;
	height:50px;
	cursor:pointer;
}

#statusbar-quizcreator-logo{
	float:left;
	width:45px;
	height:50px;
	background-image:url(../img/quizcreator.png);
}

#statusbar-quiztaker{
	float:right;
	width:70px;
	height:50px;
	cursor:pointer;
}

#statusbar-quiztaker-logo{
	float:left;
	width:45px;
	height:50px;
	background-image:url(../img/quiztaker.png);
}

#statusbar-stats{
}

#statusbar-history{
}

#statusbar-friends{
}

#statusbar-manage{
}

.statusbar-text{
	float:left;
	width:55px;
	height:20px;
	padding:15px 0px;
	font-size:14px;
	font-weight:bold;
	color:#ccc;
	cursor:pointer;
}

.statusbar-text:hover{
	color:#666;
}

.statusbar-highlighted{
	color: #FFF !important;
	background-color: #666;
	border-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-box-shadow: 2px 2px 2px #3b3b3b;
	-webkit-box-shadow: 2px 2px 2px #3b3b3b;
	cursor: pointer;
}

.statusbar-highlighted div{
	color: #FFF !important;
}

#statusbar-info{
	width:500px;
	padding:10px;
	margin: 0px 0px 0px -260px;
	position: absolute;
	top: 48px;
	left: 50%;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 2px 2px 2px #3b3b3b;
	-webkit-box-shadow: 2px 2px 2px #3b3b3b;
	display: none;
	background-color: #666;
	color:#fff;
	z-index: 10;
}

.statusbar-unit-large{
	border-bottom-width: thin;
	border-bottom-style: dotted;
	border-bottom-color: #CCC;
	margin-top: 0px;
	margin-right: 5px;
	margin-bottom: 10px;
	margin-left: 5px;
}

.statusbar-unit-large:last-child{
	margin: 0px 5px;
	border: none;		
}

.statusbar-thumbnail-large{
	float:left;
	margin: 3px 0px;
	width: 80px;
	height: 80px;
}

.statusbar-text-container-large{
	float: left;
	padding: 10px 0px 10px 10px;
	width: 400px;
}

.statusbar-name-large{
	float: left;
	width: 400px;
	height: 26px;
	margin-bottom: 5px;
	font-size: 24px;
	font-weight: bold;
}

.statusbar-description-large{
	float: left;
	width: 400px;
}

.statusbar-unit-small{
	border-bottom-width: thin;
	border-bottom-style: dotted;
	border-bottom-color: #CCC;
	margin-top: 0px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;		
}

.statusbar-unit-small:last-child{
	margin: 0px 5px;
	border: none;	
}

.statusbar-thumbnail-small{
	float:left;
	margin: 3px 0px;
	width: 50px;
	height: 50px;
}

.statusbar-text-container-small{
	float: left;
	padding: 5px 0px 5px 10px;
	width: 430px;	
}

.statusbar-name-small{
	float: left;
	width: 430px;
	height: 20px;
	margin-bottom: 5px;
	font-size: 18px;
	font-weight: bold;
}

.statusbar-description-small{
	float: left;
	width: 430px;
	font-size: 14px;
}