@charset "utf-8";
/* CSS Document */

.swfupload-control p {
	margin:10px 5px;
	font-size:0.9em;
}
.log {
	margin:0;
	padding:0;
	width:500px;
}
.log li {
	list-style-position:inside;
	margin:2px;
	border:1px solid #ccc;
	padding:5px;
	font-size:12px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#333;
	background:#fff;
	position:relative;
}
.log li .progressbar {
	border:1px solid #333;
	height:5px;
	background:#fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.log li .progress {
	width:0%;
	height:5px;
	background-color: #F90;
}
.log li p {
	margin:0;
	line-height:18px;
}
.log li.success {
	border:1px solid #339933;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background:#ccf9b9;
}
.log li span.cancel {
	position:absolute;
	top:5px;
	right:5px;
	width:20px;
	height:20px;
	background:url('../img/cancel.png') no-repeat;
	cursor:pointer;
}
.postStatus {
	display: none;
}
.selectImage{
	border: 2px solid #666;
}
.selectedBorder{
	border: 2px solid #F90;
}

