@charset "utf-8";
#viewMember-preamble h2 {
	font-size: 30px;
	margin-bottom: 0px;
}
#viewMember-preamble p {
	margin-top: 5px;
	margin-bottom: 5px;
}
#viewMember-preamble .logo {
	display: block;
	text-align: center;
}
.frame {
	margin-bottom: 10px;
	margin-top: 10px;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
.left {
	margin-bottom: 10px;
	margin-top: 0px;
	float: left;
	display: block;
	padding: 10px;
	margin-right: 10px;
}
#latest-quizzes {
	width: 351px;
}
#popular-quizzes {
	width: 351px;
}
#ranking {
	width: 550px;
}
#topic-breakdown, #taking-history {
	width: 550px;
}
.right {
	margin-bottom: 10px;
	margin-top: 0px;
	float: left;
	display: block;
	padding: 10px;
}
#fun-facts {
	width: 150px;
}
#fun-facts .fact {
	font-size: 16px;
	margin-top: 0px;
	margin-bottom: 5px;
	text-align: center;
	display: block;
}
#fun-facts .factValue {
	font-size: 34px;
	font-weight: bold;
	text-align: center;
	display: block;
}
#fun-facts .factbox {
	border: 3px solid #FC0;
	padding: 5px;
	margin-bottom: 10px;
}
#fun-facts .unit {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	color: #666;
	margin-top: 1px;
	margin-bottom: 1px;
	text-align: center;
	display: block;
}
#fun-facts .factDesc {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	color: #666;
	margin-top: 1px;
	margin-bottom: 1px;
	text-align: center;
	display: block;
}
#rankTable th{
	background-image: url(../img/form_bg.gif);
}
#rankTable td {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCC;
	padding-top: 20px;
	padding-bottom: 20px;
}
#rankTable .ranking {
	font-weight: bold;
	color: #F90;
}
#rankTable img {
	border: 1px solid #666;
}
#rankTable .member-name {
	margin: 0px;
}
#rankTable .member-level {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	margin-top: 3px;
	margin-bottom: 0px;
	font-style: italic;
	color: #666;
}
#rankTable .score {
	font-size: 20px;
	color: #F90;
	margin: 0px;
	font-weight: bold;
	cursor: help;
}
#rankTable .breakdown-score {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	margin-top: 3px;
	margin-bottom: 0px;
	color: #666;
	font-style: italic;
}
#rankTable .compare {
	color: #CCC;
}
#rankTable .compareImg {
	opacity: 0.5;
	background-color: #CCC;
}

#rankTable .compare-box td {
	padding-top: 3px;
	padding-bottom: 3px;
}
.frame h2 {
	font-size: 18px;
	color: #900;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}

/* Quiz box stuff */
.thumb_box {
	height: 68px;
	width: 90px;
	position: relative;
	float: left;
	margin-right: 10px;
	margin-top: 4px;
	border: 1px solid #000;
	margin-bottom: 12px;
}
.quiz_rating  {
	position: absolute;
	height: 10px;
	width: 98px;
	left: 0px;
	bottom: 0px;
	background-image: url(../img/trans_grey.png);
	color: #FFF;
	font-size: 10px;
	font-weight: bold;
	font-family: Verdana, Geneva, sans-serif;
	padding-bottom: 3px;
	padding-left: 3px;
}
.quiz_details   {
	width: 230px;
	float: left;
}
.quiz_details .like {
	color: #090;
	font-weight: bold;
}
.quiz_details .dislike {
	color: #F00;
	font-weight: bold;
}
.quiz_box a img  {
	
}
.quiz_details .description {
	font-size: 11px;
	font-weight: normal;
	margin: 0px;
	font-family: Verdana, Geneva, sans-serif;
}
.quiz_details .source {
	font-size: 10px;
	margin-top: 8px;
	margin-bottom: 0px;
	font-family: Verdana, Geneva, sans-serif;
	color: #999;
}
.quiz_details .rating {
	font-size: 10px;
	margin-top: 2px;
	margin-bottom: 0px;
	font-family: Verdana, Geneva, sans-serif;
	color: #999;
}
.quiz_box {
	margin-top: 5px;
	margin-bottom: 5px;
	min-height: 85px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #999;
	padding-top: 0px;
	padding-bottom: 8px;
}
.quiz_box h3 {
	font-size: 15px;
	margin-top: 0px;
	margin-bottom: 3px;
	color: #333;
}
.quiz_box a:link, .quiz_box a:visited {
	color: #333;
	text-decoration: none;
}
.quiz_box a:hover {
	text-decoration: underline;
}
.quiz_box:last-child {
	border-bottom-style: none;
}
